.venv               # локальное Python-окружение
.git                # папка с git-историей — внутри образа не нужна
.github             # workflow-файлы CI/CD — на проде не запускаются
__pycache__         # кеш скомпилированных .pyc
*.pyc
.pytest_cache       # кеш pytest
tests               # тесты в проде не запускаем
.env                # тут могут быть секреты — внутрь образа не тащим
.env.*
README.md           # документация для людей, не для контейнера
docker-compose.yml  # описание стека — внутри образа не нужно